<?xml version="1.0" encoding="UTF-8"?>
    <config>
        <modules>
        <JJ_Pickup>
            <version>0.1.0</version>
        </JJ_Pickup>
        </modules>
        <global>
        <models>
            <jj_pickup>
            <class>JJ_Pickup_Model_Observer</class>
            </jj_pickup>
        </models>
        <helpers>
            <pickup>
            <class>JJ_Pickup_Helper</class>
            </pickup>
        </helpers>
		<events>
			<sales_quote_add_item>
			<observers>
				<jj_pickup_model_observer>
				<type>singleton</type>
				<class>JJ_Pickup_Model_Observer</class>
				<method>inStoreProductPriceInCart</method>
				</jj_pickup_model_observer>
			</observers>
			</sales_quote_add_item>
		</events>
        </global>
    </config>